/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Re-usable
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 1200px;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

a:link {
    text-decoration: none;
    text-transform: none;
}

#buttonlink {
    text-decoration: none;
    text-transform: uppercase;
}

#case-1 {
    text-transform: none;
}

img {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.menu {
    color: #5722CD;
    background-image: linear-gradient(to right, #4845E4, #5722CD);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: start;
    padding: 20px;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: self-start;
    color: white;
}

.intro {
    background-color: #5722CD;
    background-image: linear-gradient(to right, #4845E4, #5722CD);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    color: white;
}

.blog {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    color: #5722CD;
}

.question {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    color: black;
}

button {
    background-color: #ED4385 ;
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

button:hover {
    background-color: chocolate;
}

#case-titel {
    display: flex;
    align-content: space-between;
}

img {
    width: 100%;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.cases {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    :nth-child(even) flex-direction: row-reverse;
    padding: 20px;
    justify-content: space-between;
    color: black;
}

#service {
    background-color: white;
}

.services {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 300px;
    flex-shrink: initial;
    justify-content: space-around;
    padding: 50px;
    color: darkslateblue;
    max-width: 1200px;
    border: none;
}


.form {
    background-color: blue;
    background-image: linear-gradient(to right, #4845E4, #5722CD);
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    color: white;
    max-width: 1200px;
}

.formfield {
    background-color: blue;
    background-image: linear-gradient(to right, #4845E4, #5722CD);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 1200px;
    max-height: 500;
    padding: 20px;
}

label {
    text-align: left;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 100px;
    padding: 20px;
}

.footertext {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 10px;
}


/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Re-usable ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */